* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    
}

 .logo {
    margin-left: 40px;
    
 }
 
 .basket {
     position: relative;
     right: 40px;
     
 }
 
 @media screen and (max-width:600px) {
    .basket {
        position: relative;
        left: 130px;   
 }

}

@media screen and (max-width:500px) {
    .basket {
        position: relative;
        left: 50px;   
 }
}

@media screen and (max-width:376px) {
   html {
    max-width: 376px;
   }

    .container{
    max-width: 376px;
    margin: 0 auto;
    /* overflow-x:hidden; */
}

    

.logo {
   /* padding-left: 20px; */
   margin-left:0;

  
}

.basket {
    position: relative;
    right: 60px;
}


}

/* .filter{
    background: rgba(0, 0, 0, 0.25);
    height: 1000px;
} */


@media screen and (max-width:600px) {
    .bgn-image {
        background-image: url('./assets/img/small.jpg');
        width: 100%;
        background-repeat: no-repeat;
        /* height: 406px; */
        
}
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    
}



@media screen and (max-width:600px){
    .header {
        padding-top: 10px;
        margin-left: 0;
    }

    .header-nav{
        display: none;
    }

}

.navimg {
    display: none;
}
@media screen and (max-width:600px) {
    .navimg {
        display: block;
        /* margin-right: 15px; */
    } 
    .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 40px;
        background-color: transparent;
        padding:0 20px;
    }
    
    .navbar-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background: linear-gradient(275.58deg, #000000 0%, #4B4B4B 100%);
        width: 100px;
        height: 0;
        overflow: hidden;
        border-radius: 5%;
        z-index: 999;
        
    }
    
    .navbar-menu li {
        margin: 5px 10px;
        list-style: none;
       
    }
    
    .navbar-menu li a {
        font-size: 14px;
        text-decoration: none;
        color: #fff;
        font-family:'Poppins';
    }

    .navbar-menu li a:hover {
      color: #FADCD9;
    }
    
    .navbar-toggle {
        width: 30px;
        height: 20px;
        cursor: pointer;
    }
    
 


    .navbar-toggle span {
        display: block;
        width: 23px;
        height: 2px;
        background-color: #fff;
        
    }
    
    .navbar-toggle span:nth-child(1) {
        transform: translateY(-6px);
        margin-top: 6px;
        
    }
    
    .navbar-toggle span:nth-child(3) {
        transform: translateY(6px);
    }
    
    .navbar-toggle .active + .navbar-menu, .navbar-toggle.active ~ .navbar-menu {
            height: fit-content;
        }
    
}
.header-nav {
    
    margin-right:120px;
    
}

.nav {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav li {
    font-size: 12px;
    font-family: "Poppins";
}

.nav li a {
    color: white;
    text-decoration: none;
}

.nav li a:visited {
    color: white;
}

.interior {
    position: relative;
}

.interior-slogan {
    margin-top: 100px;
    font-family: "Poppins";
    font-size: 30px;
    font-weight: bold;
    text-align: center;

    color: white;
}

@media screen and (max-width:376px){
    .interior-slogan {
        margin-top: 40px;
        font-size: 18px;
        line-height: 27px;
        font-weight: 600;
        text-align: center;
    }

    
}


.interior-text {
    padding-top: 30px;
     /* margin-left: 660px; */
     margin: 0 auto;
    font-family: "Poppins";
    font-size: 12px;
    text-align: center;
    line-height: 200%;
    color: white;
     /* width: 574px; */
    /* height: 72px; */
}

@media screen and (max-width:376px){
    .interior-text {
        font-weight: 400;
        font-size:   12px;
        line-height: 24px;
        font-weight: 400;
        margin: 0px auto;
        padding-left: 20px;
        padding-right: 20px;
         width: 280px;
         padding-top: 10px;
    /* height: 72px; */

    }
}

.interior-search {
    display: block;
    margin: 40px auto;
    width: 240px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    position: relative;
    padding-top: 16px;
    padding-left: 19px;
    padding-bottom: 16px;
    font-family: "Poppins";
    color: white;
}

@media screen and (max-width:375px){
    .interior-search {
        /* margin-top: 0px;
        margin-bottom: 100px; */
        margin: 0 auto;
        width: 250px;
        height: 13px;
    }
}

.interior-search::placeholder {
    font-family: "Poppins";
    font-size: 9px;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;

}

.interior-search:focus {
    outline: none;
}

.btnsrch {
    position: absolute;
    left: 56.5%;
    top: 84.5%;
    

}

@media screen and (max-width:376px){
    .btnsrch {
        left: 75.5%;
        right: 25%;
        top: 61%;
        bottom: 25%;
}
}

swiper-container {
    width: 100%;
    height: 100vh;
    max-width: 1920px;
  }

  swiper-slide {
    height: 100%;
    background-size: cover;
    background-position: center;
    
  }



  @media screen and (max-width:376px){
    swiper-container {
        background-image: url('./assets/img/small.jpg');
        width: 100%;
        background-repeat: no-repeat;
        height: 406px;
    }
  }


.background-white {
    background: white;
    margin-left: 50px;
max-width: 1920px;

}

@media screen and (max-width:600px){
    .background-white {
    /* width: 100%; */
    margin-left: 20px;
    margin-top: 20px;
    /* margin-right: 20px; */
}

}

.choosing-slogan {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 200%;
padding-top: 80px;

}

@media screen and (max-width:376px){
    .choosing-slogan {
        display: none;
    }
}



.choosing-items {
    display: flex;
    justify-content: space-around;

}



@media screen and (max-width:600px){
    .choosing-items {
        flex-direction: column;
    }
  


svg {
    transform: scale(0.6);
}
}
.icon {
    
}


.choose-item {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 24px;
margin-right: 20px;
padding-left: 10px;
border: 1px solid transparent;
width: 425px;

}

@media screen and (max-width:600px){
    .choose-item {
font-weight: 400;
font-size: 12px;
line-height: 24px;
max-width: 335px;
width: 100%;
padding-left: 10px;
margin-bottom: 20px;
margin-right: 0;
}
     .item4 {
        margin-bottom: 100px;
     }
}


.choose-item:hover {
background: rgba(255, 255, 255, 0.2);
border: 1px solid #FADCD9;
box-shadow: 4px 2px 10px 2px rgba(247, 148, 137, 0.2);
border-radius: 10px;
}

/* .item1 p, .item2 p, .item3 p, .item4 p{
    width: 385px;
   
} */

.choose-item p {
     padding-top: 10px;
     padding-bottom: 10px;
}


.more-info {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 200%;
color: #F79489;
text-decoration: none;
}


@media screen and (max-width:600px){
    .more-info {
        font-size: 12px;
    }
}


.item4 {
    margin-right: 40px;
    padding-right: 20px;
}
@media screen and (max-width:600px){
    .item4 {
        margin-left: 0px;
    
    }
    
}


.visualize {
display: flex;
justify-content: space-between;
}

@media screen and (max-width:600px){
    .visualize {
        flex-direction: column-reverse;
    }
}

.visialize-slogan {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 200%;
    padding-top: 150px;
    
}
@media screen and (max-width:376px){
    .visialize-slogan {
        padding-top: 100px;
        font-size: 18px;
        /* width: 249px; */
/* height: 36px; */
    
    }
    h2  {
        /* padding-left: 20px; */
    }
}

.visialize-text {
   width: 70%;
}

@media screen and (max-width: 376px) {
    .visialize-text {
        width: 97%;
        padding-right: 20px;
    }
}

.visp {
      padding-top: 10px;
      font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 200%;
}

.visp.style {
padding-top: 15px;
padding-bottom: 5px;
}



.more-info  a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    color: #F79489;
    text-decoration: none;
    
}

@media screen and (max-width:376px) {
    .visp {
        /* padding-left: 20px; */
        font-size: 12px;
        padding-right: 0px;
    }
    .v {
        padding-left: 20px;
    }
}


.visialize-foto {
    padding-top: 155px;
    margin-right: 40px;
    
    /* margin-left: 18px; */
    /* border-left: 2px solid #FADCD9; */
    /* padding-left: 100px; */
  
}

.visialize-foto img{
   max-width: 900px;
   width: 100%;
}

@media screen and (max-width:376px){
    .visialize-foto {
        border: none;
        /* margin: 100px 14.22px 0 14.22px; */
        margin: 0;
        padding: 0;
    }

    .visialize-foto img {
        width: 90%;
        
    }
}


.features {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 200%;
text-align: center;
padding-top: 120px;
padding-right: 40px;
}

.pro .f{
    /* margin-right: 20px; */
   
}

.pro img {
    width: 95%;
    max-width: 425px;
}
@media screen and (max-width:376px){
    .features {
        padding-top: 100px;
        padding-right: 0;
    }
}


.featured-products {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}


@media screen and (max-width:376px){
    .featured-products {
       flex-wrap: wrap;
       justify-content:flex-start;
       /* gap: 1px; */
    }
    .pro > img {
        /* max-width: 100%; */
       
       
    }

    p {
        width: 90%;
       
    }

    .pro{
        /* padding-left: 20px; */
        flex-basis: 50%;
        height: 280px;
        padding-bottom: 40px;
    }

    .f {
        flex-basis: 44.2%;
    }

    .s {
         padding-right: 20px;
        /* padding-left: 10px; */ 
    }

    .d {
        /* margin-bottom: 100px; */
    }
}



.pr {
    /* margin-left: 10px; */
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 200%;
}

.cat {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 200%;
color: #C4C4C4;
/* margin-left: 10px; */
margin-top: 5px;
}

.star {
    margin-top: 5px; 
    display: flex;
}

.idr {
    margin-top: 5px;
    /* margin-left: 10px; */
    margin-bottom: 145px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 200%;
color: #564E4E;
}

.mySwiper1 {
    height: 100%;
}

/* .background-grey {
    background: linear-gradient(279.85deg, #FFFFFF 0%, #FAF5F2 100%);
    width: 1920px;
} */
.mobile-container {
    display: none;
}
@media screen and (max-width:600px){
    .background-grey {
        max-width: 100%;
    }

    .mobile-container {
        display: block;
        background-image: url('./assets/img/Rectangle\ 7.png');
    }

    .mySwiper1 {
        display: none;
    }
}

.say {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 200%;
color: #564E4E;
padding-top: 50px;
text-align: center;

}

@media screen and (max-width:600px){
 .say {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 36px;
text-align: center;
padding-top: 40px;
padding-bottom: 40px;
padding-left: 10px;
 }
}

.reviews {
    display: flex;
    margin-top: 70px;
    margin-left: 50px;
   
    justify-content: space-between;
}

@media screen and (max-width:600px){
    .reviews {
        flex-direction: column;
        margin-top: 0px;
        padding-left: 20px;
        margin-left: 0;
    }
}


.review-item2 {
    margin-left: 20px;
   
}


@media screen and (max-width:376px){
    .review-item2 {
        margin-left: 0;
    }
}
.review-item3 {
    margin-left: 120px;
}
@media screen and (max-width: 1144px) {
    .review-item3 {
        margin-left: 0;
    }
}
@media screen and (max-width:376px){
    .review-item3 {
        margin-left: 0;
    }
}
.h3item {
 font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 200%;
color: #564E4E;

}
@media screen and (max-width:376px){
    .h3item {
        font-size: 14px;
        
    }
}
.review {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 200%;
margin-top: 10px;
height: 100px;
}

@media screen and (max-width:376px){
    .review {
        font-size: 12px;
        padding-right: 20px;
        
    }
}

.user1 {
    margin-top: 12px;
    padding-bottom: 130px;
}

.user2 {
    margin-top: 12px;
    padding-bottom: 130px;
}

.user3 {
    margin-top: 12px;
    padding-bottom: 130px;
}


@media screen and (max-width:1144px){
    .user1 {
        padding-bottom: 40px;
        margin-top: 30px;
        width: 80%;

    }

    .user2 {
        padding-bottom: 32px;
        margin-top: 30px;
        width: 80%;
    }

    .user3 {
        padding-bottom: 88px;
        margin-top: 30px;
        width: 60%;
    }


}

@media screen and (max-width:376px){
    .user1 {
        padding-bottom: 40px;
        margin-top: 30px;

    }

    .user2 {
        padding-bottom: 32px;
        margin-top: 30px;
    }

    .user3 {
        padding-bottom: 88px;
        margin-top: 30px;
    }
}

.homey {
    display: flex;
    padding-top: 140px;
}

.home-foto img {
    max-width: 900px;
    width: 100%;
    padding-left: 0;
  

}


@media screen and (max-width:920px){
    .homey {
        padding-top: 100px;
        flex-direction: column;
        /* padding-left: 14px; */
        /* padding-right: 14px; */
        /* width: 90%; */
    }

    .home-foto img {
        width: 90%;
       
       

    }
}


.homeyslogan {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 200%;
padding-left: 65px;
}

@media screen and (max-width: 920px) {
    .homeyslogan {
        padding-left: 0;
        
    }
}

@media screen and (max-width:600px){
    .homeyslogan {
        font-size: 14px;
        line-height:28px;
        padding-top: 40px;
    }
}

.homey-text {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
margin-right: 80px;
margin-left: 65px;
padding-top: 10px;
width: 492px;
}

@media screen and (max-width: 920px) {
    .homey-text {
        margin-left: 0;
        margin-right: 0;
        
    }
}

@media screen and (max-width:600px){
    
    p .homey-text {
        margin: 0;
        padding:0;
    }
    
    .homey-text {
        font-size: 12px;
        line-height: 24px;
        padding-left: 0;
        padding-top: 20px;
        /* padding-right: 10px; */
        margin-left: 0;
        max-width: 335px;
        margin-right: 0;
    }
}

.homey-search {
    position: relative;
    width: 270px;
    height: 40px;
    background: #FEFCFB;
border: 1px solid #FADCD9;
border-radius: 30px;
margin-top: 30px;
margin-left: 65px;
margin-bottom: 260px;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 16px;
color:  #F79489;
font-family: 'Poppins';
}

.homey-search::placeholder {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 200%;
color: #F79489;
/* padding-left: 20px; */
padding-top: 16px;

}

.text {
    position: relative;
}

.homeybutton {
    position: absolute;
     left: 46%;
     top: 43%;
     
     
}



@media screen and (max-width:376px){
    .homey-search {
        margin-top: 20px;
        margin-bottom: 100px;
        margin-right: 0;
        margin-left: 0;
        width: 280px;
        height: 13px;
        border-radius: 30px;

    }

    .homeybutton {
        /* left: 278px;
        top: 4937px; */
        width: 30px;
        height: 30px;
    }
}

.homey-search:focus {
    outline: none;
}

.background-black {
    /* background: linear-gradient(275.58deg, #000000 0%, #4B4B4B 100%); */
  
    background-image: url('./assets/img/Rectangle\ 8.png');
/* height: 600px; */
background-repeat: no-repeat;
background-position: center;
}

@media screen and (max-width:600px) {
    .background-black{
    width: 100%;
    height: auto;
    }
}
.footer {
    padding-top: 50px;
    display: flex;
}



@media screen and (max-width:600px) {
    .footer {
        display:block;
        padding-top: 20px;
        padding-left: 20px;
    }
}

.footer-nav {
    display: flex;
    margin-left: 150px;
}

@media screen and (max-width: 1144px) {
   .footer-nav {
    margin-left: 0;
}
}

@media screen and (max-width:376px) {
    .footer-nav {
        margin-left: 0;
        flex-direction: column;
       
    } 
    
}

.footnav {
list-style: none;
height: 27px;
}

/* @media screen and (max-width: 376px){

} */
.footnav1 {
    width: 150px;
}

.footnav2 {
    margin-left: 110px;
}

.footnav3 {
    margin-left: 160px;
}

.footnav4 {
    margin-left: 160px;
}

@media screen and (max-width: 1144px) {

    .footnav1 {
        /* width: 100px; */
    }
    
    .footnav2 {
        /* width: 100px; */
        margin-left: 50px;
    }
    
    .footnav3 {
        /* width: 100px; */
        margin-left: 50px;
    }
    
    .footnav4 {
        /* width: 100px; */
        margin-left: 50px;
    }
}

@media screen and (max-width: 714px) {

    .footnav1 {
        /* width: 100px; */
    }
    
    .footnav2 {
        /* width: 100px; */
        margin-left: 10px;
    }
    
    .footnav3 {
        /* width: 100px; */
        margin-left: 10px;
    }
    
    .footnav4 {
        /* width: 100px; */
        margin-left: 10px;
    }
}

@media screen and (max-width: 376px){
    .footnav1 {
      
        margin-top: 44px;
    }
    .footnav2 {
        margin-top: 88px;
        margin-left: 0;
    }

    .footnav3 {
        margin-left: 0;
        margin-top: 66px;
    }

    .footnav4 {
        margin-left: 0;
        margin-top: 44px;
        margin-bottom: 100px;
    }
}


.footnav li a {
    text-decoration: none;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 300%;
color: #FFF;
}

@media screen and (max-width: 376px){
    .footnav li a {
        font-size: 12px;
        line-height: 18px;
    }

 }

.footnav li h3 a {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 200%;
color: #FADCD9;
text-decoration: none;

}
@media screen and (max-width: 376px){
    .footnav li h3 a {
        font-size: 14px;
        line-height: 21px;
    }
}


.copyright {
    /* margin-left: 12px; */
    margin-top: 210px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 27px;
    color: #FFF;
    text-align: center;
    padding-bottom: 50px;
    
}

@media screen and (max-width: 376px){
    .copyright {
        margin-left: 95px;
        margin-top: 10px;
        padding-bottom: 28px;
        padding-right: 10px;
        font-size: 12px;
       

    }
}